<ion-view hide-nav-bar="true" view-title="LOGIN">
    <ion-content>
        <div class="homeTop">&nbsp;</div>
        
        <div class="loginCont">
        <div class="carousel-caption">
            <div class="sign-wrapper"> 
                <div class="social-connect text-center"> 
                    <form class="form-horizontal" role="form"> 
                        <a role="button" href="javascript:void(0);" ng-click="facebookSignIn()" class="btn btn-block facebook_login ui-link"> 
                            <div class="input-group"><span class="fab">&nbsp;</span> <span id="basic-addon1" class="input-group-addon fb "></span> Sign in using facebook </div> </a>
                        <a role="button" href="javascript:void(0)" ng-click="googleSignIn()" class="btn btn-block gmail_login ui-link">
                            <div class="input-group"><span class="gpl"></span><span id="basic-addon1" class="input-group-addon gp"></span> Sign in using gmail </div> </a>
                        <a role="button" href="javascript: void(0)" class="btn btn-block ui-link" ng-click="modal.show()">
                            <div class="input-group"><span class="usr"></span><span id="basic-addon1" class="input-group-addon ex"></span> Other easy options </div> </a> 
                    </form> 
                </div> 
            </div> 
        </div>
        </div>

        <div class="col">
            <div class="logoCont"><img src="http://cresando.com/assets/site_logo/newlogo.png" /></div>
        </div>
        
        
        
        <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive customheder">
          <h1 class="title">Log in to Cresando</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding loginmodal">
            <div class="col">
                <div class="logoCont"><img src="http://cresando.com/assets/site_logo/cresando-logo.png" /></div>
            </div>
          <div class="list signForm">
          
          <div class="form-group  has-feedback has-success"> 
            <div class="col"> 
                <div class="input-groupx"> 
                    <span class="input-group-addonx"><i class="ion-happy-outline"></i></span> 
                    <input type="text" class="form-controlx"  placeholder="Email id" ng-model="login.logindata.email" data-fv-field="email"> 
                </div> 
            </div> 
          </div>
  
          <div class="col"> 
            <div class="input-groupx"> 
                <span class="input-group-addonx"><i class="ion-key"></i></span> 
                <input type="password" class="form-controlx" placeholder="Password" ng-model="login.logindata.password" data-fv-field="password"> 
            </div>
            <div class="checkbox"> <a href="javascript:void(0);" ng-click="login.forgotpas();" class="blackC">Forgot Password?</a> </div>
          </div>
  
          <div class="col"> 
            <button type="submit" class="btn_login btn-default btn-block" ng-click="login.login();" name="signup">Login</button> 
          </div>
  
          <div class="col"> Not a member? <a href="javascript:void(0);" ng-click="login.register()" class="blackC">Sign Up Now</a> </div>
          
            
          </div>
          
        </ion-content>
      </ion-modal-view>
    </script>
        
    </ion-content>
</ion-view>


