<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
        <div class="profilebox">
            <a class="fancy" id="userpicxxx" href="#/app/profile"> 
                <userpic></userpic>                
            </a> 
        </div>
      <ion-list>
<!--        <ion-item menu-close href="#/app/dashboard">
            <i class="ion-android-home purpel"></i>Dashboard
        </ion-item>-->
        <ion-item menu-close href="#/app/profile">
            <i class="ion-android-create blue"></i>Profile
        </ion-item>
          
        <ion-item menu-close href="#/app/chatlist">
           <i class="ion-android-chat green"></i>Chat Now
        </ion-item>
          
        <ion-item menu-close href="#/app/dashboardn">
           <i class="ion-person-stalker "></i>Matches
        </ion-item>
          
        <ion-item menu-close href="#/app/advancesearch">
            <i class="ion-android-contacts pink"></i>Partner Preference 
        </ion-item>
          
        <ion-item menu-close href="#/app/trustbadge">
            <i class="ion-ribbon-b yellow"></i>Trust Badges 
        </ion-item>
          
        <ion-item menu-close href="#/app/visitor">
            <i class="ion-ios-people deepgreen"></i>Visitors
        </ion-item>
          
        <ion-item menu-close href="#/app/mylike">
            <i class="ion-heart red"></i>My likes
        </ion-item>
          
        <ion-item menu-close href="#/app/likedme">
            <i class="ion-ios-heart-outline red"></i>Liked me
        </ion-item>
          
        <ion-item menu-close href="#/app/blocked">
           <i class="ion-alert-circled blockC"></i>Blocked
        </ion-item>
        
<!--        <ion-item menu-close href="#/app/profile">
          Profile
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item> 
        <ion-item menu-close href="#/app/advancesearch">
            <i class="ion-android-search deepPurpel"></i>Advance Search
        </ion-item>-->

        <ion-item menu-close href="#/app/usrsettings">
            <i class="ion-gear-b green"></i>User Settings
        </ion-item>

        <ion-item menu-close href="#/app/contactus">
            <i class="ion-android-call yellow"></i>Contact Us
        </ion-item>

        <ion-item menu-close href="#/app/logout">
            <i class="ion-power red"></i>Log out
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
