<ion-view view-title="My Likes" autoscroll="false">    
    <ion-content delegate-handle="myContent">
        <div class="cont">            
            <div class=" holderx" id="scrollto">                
            
            <div class="col" ng-if="mylike.members"> 
            <div class="col col-50 profCont" ng-repeat="list in mylike.members track by $index">

               
                <div class="listblk"> 
                    <a href="#/app/profiledetail/{{list.id}}/{{curpage}}"><div class="listPic" style="background: url('{{list.logo}}') center top; background-size: 100% 100%; width: 100%; height: 150px; background-repeat: no-repeat; overflow: hidden; "> 
                            
                        </div> </a>
                    <p> 
                        <a href="#/app/profiledetail/{{list.id}}/{{curpage}}">{{list.full_name}}</a>, {{list.age}}<br>{{list.ctnm}}<span ng-if="list.country">,</span> {{list.country}} </p>
                    <div class="btn-group signal" data-toggle="buttons"> 
                            <span title="offline"> <label ng-if="list.online == 0" class="btn on-off offline"></label> </span> 
                            <span title="online"> <label ng-if="list.online != 0" class="btn on-off online"></label> </span>
                        </div> 
                   
                </div>
                <div ng-class="{'clearfix': $index%3 === 0}"></div>
            </div>
            </div>
                <div class="col" ng-if="!mylike.members">
                    <div class="logoCont">
                    No record found!
                    </div>
                </div>

                <div class="row">
                    <div class="col" ng-if="curpage != 1" ><a class="button icon-left ion-chevron-left button-calm"  ng-click="mylike.prevPage();">Prev</a></div>
                    <div class="col text-right" ng-if="mylike.total_page > 10"><a class="button icon-right ion-chevron-right button-calm"  ng-click="mylike.nextPage();">Next</a></div>
                    
                </div>
                
            </div>

        </div>

    </ion-content>

</ion-view>
