<ion-view view-title="My Profile" autoscroll="false">    
    <ion-content delegate-handle="myContent">
        <div class="cont">            
            <div class=" holderx" >                
           
<!--               <div class="upload-img-wrap">                    
                    <div class="col">
                        <div class="col-50 text-center camBox" style="margin-right: 5px;">
                            <span class="ico ion-camera" ng-click="profile.imageAction('camera');"><p>Take Picture</p></span>
                        </div>
                        <div class="col-50 text-center camBox">
                            <span class="ico ion-images" ng-click="profile.imageAction('gallery');"><p>Select Picture</p></span>
                        </div>
                    </div>
                </div>
                     
                <div class="img-listing col" ng-if="profile.newproductimg.length > 0" >                                            
                       
                   <div class="col-50 phoneImg" ng-repeat="newlist in profile.newproductimg">                       
                       <img onerror="this.src='img/no_image.png'"  ng-src="{{newlist}}" alt="" width="100%" />
                        <span ng-click="up.removeImage(index);" class="ion-ios-trash removeImg"></span>
                   </div>
                    
                   <button class="button button-positive" ng-click="profile.uploadImage();" style="margin: 0 auto;"><i class="ion-ios-cloud-upload"></i> Upload Images</button>               
                     
                </div>-->
                    
                
                <div class="clear-fix">&nbsp;</div>
                <div class="img-listing col" ng-if="profile.productimg.length > 0" > 
                    
                    <ion-slide-box options="data.sliderOptions" slider="data.sliderDelegate" on-slide-changed="slideChanged(index)" auto-play="false" does-continue="true">
                        <ion-slide ng-repeat="list in profile.productimg">
                          <img  ng-src="{{list.logo}}" alt="{{list.id}}" />
                            <span ng-if="list.default == 'N'" ng-click="profile.makeDefultImage(list.id);" title="Make This Default Image" class="ion-person defultImg"></span>
                            <span ng-click="profile.removePrevImage(index, list.id);" class="ion-ios-trash removeImg"></span>
                        </ion-slide>
                    </ion-slide-box>
                    
                </div>
                <div class="clear-fix">&nbsp;</div>
                <div class="col galcont">
                    <span ng-click="profile.editGallery();" class="editgal button button-calm">Add More Image</span>
                </div>
                
<!--                <div class="col col-33" ng-repeat="list in profile.productimg">
                    <div class="listPic" style="background: url('{{list.logo}}') center top; background-size: 100%; width: 100%; height: 70px; background-repeat: no-repeat; overflow: hidden; "></div>
                    <span class="ion-close-circled" ng-click="profile.removePrevImage($index);"></span>
                </div>-->


                
                <div class="myprofile"> 
                    <div class="clear-fix"></div>
                    <div class="title">{{profile.viewDetails.full_name}}, {{profile.viewDetails.age}}</div>

                        
                    
                    
                    
                    <div class="profileData" ng-if="profile.viewData">
                        <form name="myForm" id="myForm" class="profileEditForm" >
                    <!--About me module--> 
                        <h4> <i class="ion-android-contact"></i> About me </h4> 
                        <div class="info-holder">
                            <textarea ng-model="profile.viewMetaDetails.abtme" placeholder="Please type about yourself" class="form-field" cols="4" rows="8"></textarea>
                            
                        </div>

                        <!-- My favourite module--> 
                        <h4> <i class="ion-thumbsup"></i> My favourite quote </h4>  
                        <div class="info-holder">
                            <textarea ng-model="profile.viewMetaDetails.mfav" placeholder="Please type your favourite quote" class="form-field" cols="2" rows="4"></textarea>
                            
                        </div>

                        <!--location options--> 
                        <h4> <i class="ion-location"></i> <span>Location</span> </h4> 
                        <div class="info-holder">
                            <span id="change-location" > 
                                <p> <strong>Origin:</strong> </p>
                                <div class="col">
                                    <div class="col-50 location_select">
                                        <p>Country:
                                            <select ng-model="profile.viewMetaDetails.country" ng-change="profile.getCountryCity()" class="form-field" ng-options="cp.id as cp.c_name for cp in profile.viewCountry" >
                                                <option value="">Please select</option>
                                        </select>
                                        </p>
                                    </div>
                                    <div class="col-50 location_select">
                                        <p>City
                                            <select ng-model="profile.viewMetaDetails.city" class="form-field" ng-options="city.id as city.ctnm for city in profile.viewCity" >
                                                <option value="">Please select </option>
                                        </select>
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="clear-fix">&nbsp;</div>
                                <p> <strong>Residence:</strong> </p>
                                <div class="col">
                                    <div class="col-50 location_select">
                                        <p>Country:
                                            <select ng-model="profile.viewMetaDetails.contres" ng-change="profile.getCountryCityRes()" class="form-field" ng-options="vp.id as vp.c_name for vp in profile.viewCountry" >
                                                <option value="">Please select </option>
                                        </select>
                                        </p>
                                    </div>
                                    <div class="col-50 location_select">
                                        <p>City:
                                            <select ng-model="profile.viewMetaDetails.citres" class="form-field" ng-options="cityr.id as cityr.ctnm for cityr in profile.viewCityRes" >
                                                <option value="">Please select </option>
                                        </select>
                                        </p>
                                    </div>
                                </div>
                                <div class="clear-fix">&nbsp;</div>
<!--                                    {{profile.viewMetaDetails.citres}}, {{profile.viewDetails.country_name}} 
                                <p> <strong>Residence</strong>: {{profile.viewDetails.city_residence_name}}, {{profile.viewDetails.country_name}} </p> -->
                            </span> 
                            <span id="change-location" ng-if="!profile.viewMetaDetails.city" > 
                                 <p> Unfortunately, {{profile.viewDetails.full_name}} has not added any Location details.</p> 
                            </span>
                        </div>

                        <h4> <i class="ion-information-circled"></i> Personal info </h4> 
                        <div class="info-holder">
                            
                            
                            <div class="col  location_select">
                                <p>Relationship status:
                                    <select ng-model="profile.viewMetaDetails.mrtsts" class="form-field" ng-options="rs.id as rs.type for rs in profile.relationStatus" >
                                        <option value="">Please select </option>
                                </select>
                                </p>
                            </div>
                            
                            <div class="col prof_sexbox">                                
                                    <p>Sex:
                                        <div class="cust50 flt_left ">
                                            <label ><input type="radio" ng-model="profile.viewMetaDetails.sex"  value="M">&nbsp;Male </label> &ensp; <label ><input type="radio" ng-model="profile.viewMetaDetails.sex" value="F">&nbsp;Female</label>
                                        </div>
                                    </p>                               
                            </div>

                            <div class="col prof_sexbox">                                
                                <p>Birth Day: 
                                    <div class="col-33 location_select">
                                        <label>Select Month</label>
                                        <select class="form-control" ng-model="profile.Bmonth" ng-options="o for o in months" required>
                                            <option value="MM">MM</option>
                                        </select>
                                    </div>
                                    <div class="col-33 location_select">
                                         <label>Select Day</label>
                                        <select class="form-control" ng-model="profile.Bday" ng-options="o for o in days" required>
                                            <option value="DD">DD</option>
                                        </select>
                                    </div>
                                    <div class="col-33 location_select">
                                       <label>Select Year</label>
                                        <select class="form-control" ng-model="profile.Byear" ng-options="o for o in years" required>
                                            <option value="YYYY">YYYY</option>
                                        </select>
                                    </div>
                                </p>                               
                            </div>

                            <div class="col">
                                <div class="col-50 location_select">
                                    <p>Height (in Ft.):
                                        <select ng-model="profile.viewMetaDetails.height" class="form-field" ng-options="ht.id as ht.hft for ht in profile.height" >
                                            <option value="">Please select </option>
                                    </select>
                                    </p>
                                </div>
                            
                                <div class="col-50 location_select">
                                    <p>weight (in Kg.):
                                        <select ng-model="profile.viewMetaDetails.weight" class="form-field" ng-options="wt.id as wt.wkg for wt in profile.weight" >
                                            <option value="">Please select </option>
                                    </select>
                                    </p>
                                </div>
                            </div>
                            
                            <div class="col">
                                <div class="col-50 location_select">
                                    <p>Body Type:
                                        <select ng-model="profile.viewMetaDetails.bdtyp" class="form-field" ng-options="bt.id as bt.type for bt in profile.bodyType" >
                                            <option value="">Please select </option>
                                    </select>
                                    </p>
                                </div>

    <!--                            <div class="col location_select">
                                    <p>Hair Color:
                                        <select ng-model="profile.viewMetaDetails.hircol" class="form-field" ng-options="hc.id as hc.color for hc in profile.hairColor" >
                                            <option value="">Please select </option>
                                    </select>
                                    </p>
                                </div>-->

                                <div class="col-50 location_select">
                                    <p>Complexion:
                                        <select ng-model="profile.viewMetaDetails.cmplxn" class="form-field" ng-options="com.id as com.type for com in profile.complexion" >
                                            <option value="">Please select </option>
                                    </select>
                                    </p>
                                </div>
                            </div>
                            
                            <div class="col">
                            <div class="col-50 location_select">
                                <p>Religion:
                                    <select ng-model="profile.viewMetaDetails.relgion" class="form-field" ng-options="rlg.id as rlg.type for rlg in profile.religion" >
                                        <option value="">Please select </option>
                                </select>
                                </p>
                            </div>
                            
                            <div class="col-50 location_select">
                                <p>Smoking:
                                    <select ng-model="profile.viewMetaDetails.smoke" class="form-field" ng-options="smk.id as smk.type for smk in profile.smokes" >
                                        <option value="">Please select </option>
                                </select>
                                </p>
                            </div>
                            </div>
                            <div class="col location_select">
                                Drinking:
                                    <select ng-model="profile.viewMetaDetails.drink" class="form-field" ng-options="drnk.id as drnk.type for drnk in profile.drink" >
                                        <option value="">Please select </option>
                                </select>
                                
                            </div>
                            
                            <div class="col location_select">
                                <p>Income :
                                    <div class="col-33 flt_left">
                                        <input type="text" only-digits ng-model="profile.viewMetaDetails.income" class="form-field" placeholder="Enter you anually income" />
                                    </div>
                                    <div class="col-20 flt_left yearlybox"><span class="flt_left" ng-if="profile.viewMetaDetails.incom_type == 'Y'" >Yearly</span></div>
                                    <div class="col-50 flt_left">
                                        <select ng-model="profile.viewMetaDetails.inc_cur" class="form-field" ng-options="crnc.id as crnc.type for crnc in profile.currency" >
                                            <option value="">Please select </option>
                                        </select>
                                    </div>
                                </p>
                            </div> 
                         

<!--                            <span id="change-personal-info"> 
                                <p ng-if="profile.viewDetails.languages"> <strong>{{profile.viewMetaDetails.languages}}</strong> </p> 
                            </span>                        -->


                        </div>

                        <!--Work and professional options--> 
                        <h4> <i class="ion-briefcase"></i> Work &amp; Education </h4> 
                        <div class="info-holder">
                            <div class="col location_select">
                                <p>Highest Education:
                                    <select ng-model="profile.viewMetaDetails.hedu" class="form-field" ng-options="edu.id as edu.type for edu in profile.education" >
                                        <option value="">Please select </option>
                                </select>
                                </p>
                            </div>
                            
                            <div class="col location_select">
                                <p>Occupation Details:
                                    <select ng-model="profile.viewMetaDetails.ocu" class="form-field" ng-options="occu.id as occu.type for occu in profile.occupation" >
                                        <option value="">Please select </option>
                                </select>
                                </p>
                            </div>
                          
                        </div>
                        
                        <h4> <i class="ion-earth"></i> Languages</h4>
                        <div class="info-holder">
                        <div class="col location_select">
                                <p>
                                    <multiple-autocomplete ng-model="profile.selectedLanguage"                                    
                                            object-property="type"
                                            suggestions-arr="profile.language">
                                    </multiple-autocomplete>
                                </p>
                            </div>
                        </div>
                        <!--Interested in module--> 
                        <h4> <i class="ion-thumbsup"></i> Interested in </h4> 
                        <div class="info-holder">
                            <textarea ng-model="profile.viewMetaDetails.intrst" placeholder="Please type in what you are interested" class="form-field" cols="4" rows="8"></textarea>
                            
                        </div>

                        <!--my hobbies module--> 
                        <h4> <i class="ion-heart"></i> Hobbies </h4> 
                        <div class="info-holder">
                            <div class="col location_select">
                                <multiple-autocomplete ng-model="profile.selectedHobby"                                    
                                            object-property="type"
                                            suggestions-arr="profile.hobby">
                                </multiple-autocomplete>
<!--                            <select ng-model="profile.viewMetaDetails.selectedHobby" class="form-field" ng-options="hob.id as hob.type for hob in profile.hobby" >
                                        <option value="">Please select </option>
                                </select>-->
                            </div>
                        </div>
                        <div class="clear-fix"></div>
                        <!-- I hate module--> 
                        <h4> <i class="ion-thumbsdown"></i> I hate </h4> 
                        <div class="info-holder">
                            <textarea ng-model="profile.viewMetaDetails.mhate" placeholder="Please type what you dislike" class="form-field" cols="4" rows="8"></textarea>
                            
                        </div>                        
                        
                        <div class="row">
                            <div class="col">
                                <button class="button button-block button-positive" style="margin-bottom: 60px;" ng-click="profile.updateProfile(profile);">
                                    Update Profile
                                </button>
                            </div>
                        </div>

                        </form> 
                    </div>

                    
                </div>
                
            </div>
        </div>
    </ion-content>
</ion-view>
