<ion-view view-title="Trust Badges"autoscroll="false">    
    <ion-content delegate-handle="myContent">
        <div class="cont">            
            <div class=" holderx" >
                <p class="profile-text">Adding trust badges to your profile is the easiest way to build trust with your prospects</p>
                <h4  class="col">Identity Badge</h4>
                <p>To get this badge, please upload a copy of any Government-issued ID cards listed below.</p>
                
                <div class="myprofile">
                    <form name="myForm" id="myForm" class="trustForm" >
                    <span id="change-location-trust" > 
                        <p> <strong>Document Type:</strong> </p>
                        <div class="col">
                            <div class="col-50 flt_left">
                                <select ng-model="tbc.formdata.trustbadgetype" class="form-field" ng-options="drm.id as drm.sname for drm in tbc.viewDropdowns" >
                                    <option value="">Select Proof</option>
                                </select>
                            </div>
                            <div class="col-50 flt_left">
                                                  
                                                                       
                                <div class="text-center camTrustBox" ng-if="tbc.trustLength < 1" >
                                    <span ng-click="tbc.imageAction('gallery');"><p>Browse Gallery</p></span>
                                </div>
                                    
                                
                            </div>
                        </div>
                        <div class="clear-fix">&nbsp;</div>
                        <div class="img-listing col" ng-if="tbc.newproductimg.length > 0" >                                            
                       
                            <div class="col-50 phoneImg" ng-repeat="newlist in tbc.newproductimg">                       
                                <img onerror="this.src='img/no_image.png'"  ng-src="{{newlist}}" alt="" width="100%" />
                                 <span ng-click="tbc.removeImage(index);" class="ion-ios-trash removeImg"></span>
                            </div>
                            
                         </div>
                    </span>
                        <div class="clear-fix">&nbsp;</div>
                    
                        
                        <div class="row">
                            <div class="col">
                                <button class="button button-block button-positive" style="margin-bottom: 60px;" ng-click="tbc.updateTrustBadge(tbc.formdata);">
                                    Upload Trust Badge
                                </button>
                            </div>
                        </div>

                    </form>
                    
                    <div class="clear-fix">&nbsp;</div>
                    <div class="img-listing col" ng-if="tbc.uploaded.length > 0" >
                        <h4 class="col">My Badges</h4>                 
                       
                            <div class="col-50 phoneImg" ng-repeat="upload in tbc.uploaded">                       
                                <img onerror="this.src='img/no_image.png'"  ng-src="{{upload.file}}" alt="" width="100%" />
                                <p class="text-center">{{upload.sname}}</p>
                                <p class="text-center"><span ng-click="tbc.removeTrustBadge(index, upload.id);" class="ion-ios-trash removeTrusty"></span></p>
                            </div>
                            
                    </div>
                    
                    
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>
