/* Empty. Add your own CSS if you like */
body {
	font-family: Verdana, Geneva, sans-serif !important;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	margin:0;
}

.clear-fix{ clear: both; display: inline-block; width: 100%; margin-bottom: 0px; height: 0; }
.flt_left{ float: left !important; }
.flt_right{ float:right !important; }
.cust100{ width: 100%; display: inline-block; }
.cust50{ width: 50%; }
.cust32{ width: 32%; }
.cust25{ width: 25%; }
.cust27{ width: 27%; }
.cust20{ width: 20%; }
.padR5{ padding-right: 5px; }
.padL5{ padding-left: 5px; }
.minhite{ min-height: 30px; }
.homeTop{ background-image: url('../img/banner-01.jpg'); height: 430px; display: inline-block; width: 100%; background-size: 430px 400px; background-repeat: no-repeat; }

